<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            首页
        {% endblock  %}
    </title>
</head>
<body>
    <div id="nav">
        <a href="/base">首页</a>
        <a href="/news">新闻</a>
        <a href="/sport">体育</a>
        <a href="{% url 'spurl' %}">体育[反向解析]</a>
        <a href="{% url 'pgnurl' '200' %}">体育[带参数的反向解析]</a>
    </div>

    <div id="content">
        {% block content %}
            <h3>这是首页的内容，各大头条新闻</h3>
        {% endblock  %}
    </div>

    <div id="foot">
        <p>京备号:0000001,联系方式:400-400-0000</p>
    </div>
</body>
</html>