<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示标题</title>
</head>
<body>
<table>
        <tr>
            <th>标题</th>
            <th>操作</th>
        </tr>
        {% for n in note %}
            <tr>
                <td>
                    <a href="/note/show?uid={{ n.id }}&title={{ n.title }}&" >{{ n.title }}</a>
                </td>
                <td>
                    <a href="/note/delete?nid={{ n.id }}">删除</a>
                </td>
            </tr>
        {% endfor %}
</table>
</body>
</html>